<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->


 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

	
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/adminPanel.css">
 <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <!-- jquery- datatables -->
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

    {{!-- jquery form validation --}}
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
    {{!-- sweetalert2 --}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    
	<title>D SQUARE</title>
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-cart'></i>
			<span class="text">D SQUARE</span>
		</a>
		<ul class="side-menu top ">
			<li class="active">
				<a href="/admin">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="/admin/category">
					<i class='bx bxs-package'></i>
					<span class="text">Categories</span>
				</a>
			</li>
			<li>
				<a href="/admin/product">
					<i class='bx bxs-shopping-bags'></i>
					<span class="text">Products</span>
				</a>
			</li>
			<li>
				<a href="/admin/orderManagement">
					<i class='bx bxs-purchase-tag-alt'></i>
					<span class="text">Orders</span>
				</a>
			</li>
			<li>
				<a href="/admin/userManagement">
					<i class='bx bxs-group' ></i>
					<span class="text">Users</span>
				</a>
			</li>
            <li>
				<a href="/admin/couponManagement">
					<i class='bx bxs-coupon'></i>
					<span class="text">Coupons</span>
				</a>
			</li>
             <li>
				<a href="/admin/offerManagement">
					<i class='bx bxs-receipt'></i>
					<span class="text">Product Offers</span>
				</a>
			</li>
            <li>
				<a href="/admin/salesReport">
					<i class='bx bxs-receipt'></i>
					<span class="text">Sales Report</span>
				</a>
			</li>
            <li>
				<a href="/admin/bannerManagement">
					<i class='bx bxs-receipt'></i>
					<span class="text">Banner</span>
				</a>
			</li>
		</ul>
		
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			<a href="#" class="nav-link">Admin Panel</a>
		
			
			<a href="#" class="profile">
				<img src="https://media.licdn.com/dms/image/C5603AQFSg4R-IWdHpg/profile-displayphoto-shrink_200_200/0/1652343116317?e=1714003200&v=beta&t=pmFIU8GF6HCKqo4Wt4oyk5Ws-GDJy-mHECO-4ejmtdE">
			</a>
		    <a href="/admin/logout" class="btn text-white px-4" id="logoutbtn">Logout</a>	


		</nav>
		<!-- NAVBAR -->


		<!-- MAIN -->
        
		<main>
			<div class="head-title">
				<div class="left">
					<h5>Dashboard</h5>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Home</a>
						</li>
					</ul>
				</div>
				<a href="#" class="btn-download">
					<i class='bx bxs-cloud-download' ></i>
					<span class="text">Download PDF</span>
				</a>
			</div>

			<ul class="box-info list-unstyled d-flex justify-content-center">
				<li class="me-3">
					<i class='bx bxs-shopping-bags'></i>

					<span class="text">
						<h3 id="productsCount"></h3>
						<p style="font-size:14px;">Total Products</p>
					</span>
				</li>
        
				<li class="me-3">
					<i class='bx bxs-group' ></i>
					<span class="text">
						<h3 id="userCount"></h3>
						<p style="font-size:14px;">Total Customers</p>
					</span>
				</li>
                <li class="me-3">
					<i class='bx bxs-shopping-bags'></i>

					<span class="text">
						<h3 id="pendingOrderCount"></h3>
						<p style="font-size:14px;">Pending Orders</p>
					</span>
				</li>
                 <li class="me-3">
					<i class='bx bxs-shopping-bags'></i>

					<span class="text">
						<h3 id="totalOrderCount"></h3>
						<p style="font-size:14px;">Total Orders</p>
					</span>
				</li>
				
              
               
			</ul>
          <ul class="box-info list-unstyled d-flex justify-content-center">
                 <li class="me-3">
					<i class='bx bxs-dollar-circle' ></i>
					<span class="text">
						<h3 id="totalRevenue"></h3>
						<p >Total Revenue</p>
					</span>
				</li>
               
                 
                 
            </ul>

  
            
                <div class="row">
           
            <div class="col-lg-6">
                 <h6 class="mt-5 mb-5 text-center">Current Week Revenue</h6>
                <canvas id="weeklySalesChart"></canvas>
            </div>
             <div class="col-lg-6">
                 <h6 class="mt-5 mb-5 text-center">Monthwise Revenue</h6>
                <canvas id='monthWiseRevenueChart'></canvas>
            </div>
       </div>
 
       <div class="row">
           <div class="col-lg-4">
        <h6 class=" mt-5 mb-5 text-center">Category Wise Revenue</h6>
                <canvas id='categoryWiseRevenueChart'></canvas>
            </div>
            <div class="col-lg-6 mt-5 mb-5 ml-5 recentCustomers" style="margin-left:70px; margin-top:0px;">
                    <div class="cardHeader">
                        <h5>Best Selling Categories</h5>
                    </div>
<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Total Count</th>
    </tr>
  </thead>
  <tbody>
    {{#each bestSellingCategory}}
    <tr>
      <td>{{_id}}</td>
      <td>{{totalSales}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

                </div>
       </div>

<div class="row">
    
                <div class="col-lg-5 mt-5 mb-5 ml-5 recentCustomers" style="margin-left:70px; margin-top:30px;">
                    <div class="cardHeader">
                        <h5>Best Selling Products</h5>
                    </div>
<table>
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Total Count</th>
    </tr>
  </thead>
  <tbody>
    {{#each bestSellingProducts}}
    <tr>
      <td>{{_id}}</td>
      <td>{{totalSales}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

              
                  </div>
                <div class="col-lg-5 mt-5 mb-5 ml-5 recentCustomers" style="margin-left:70px; margin-top:30px;">
                    <div class="cardHeader">
                        <h5>Best Selling Brands</h5>
                    </div>
<table>
  <thead>
    <tr>
      <th>Brand name</th>
      <th>Total Count</th>
    </tr>
  </thead>
  <tbody>
    {{#each bestSellingBrand}}
    <tr>
      <td>{{_id}}</td>
      <td>{{totalSales}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

                </div>
</div>


{{!-- 
<div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h4>Recent Orders</h4>
                        <a href="#" class="btn">View All</a>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Price</td>
                                <td>Payment</td>
                                <td>Status</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Star Refrigerator</td>
                                <td>$1200</td>
                                <td>Paid</td>
                                <td><span class="status delivered">Delivered</span></td>
                            </tr>

                            <tr>
                                <td>Dell Laptop</td>
                                <td>$110</td>
                                <td>Due</td>
                                <td><span class="status pending">Pending</span></td>
                            </tr>

                            <tr>
                                <td>Apple Watch</td>
                                <td>$1200</td>
                                <td>Paid</td>
                                <td><span class="status return">Return</span></td>
                            </tr>

                            <tr>
                                <td>Addidas Shoes</td>
                                <td>$620</td>
                                <td>Due</td>
                                <td><span class="status inProgress">In Progress</span></td>
                            </tr>

                            <tr>
                                <td>Star Refrigerator</td>
                                <td>$1200</td>
                                <td>Paid</td>
                                <td><span class="status delivered">Delivered</span></td>
                            </tr>

                            <tr>
                                <td>Dell Laptop</td>
                                <td>$110</td>
                                <td>Due</td>
                                <td><span class="status pending">Pending</span></td>
                            </tr>

                            <tr>
                                <td>Apple Watch</td>
                                <td>$1200</td>
                                <td>Paid</td>
                                <td><span class="status return">Return</span></td>
                            </tr>

                            <tr>
                                <td>Addidas Shoes</td>
                                <td>$620</td>
                                <td>Due</td>
                                <td><span class="status inProgress">In Progress</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- ================= New Customers ================ -->
                
            </div> --}}
        </div>
    </div>

			
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>	
     {{!-- Charts --}}

  

    <script>
        const fetchData = (async () => {
            try {
                const response = await fetch('/admin/dashboardData', { method: 'GET' });
                const data = await response.json();
console.log(data)
                const {
                   productCount,
      userCount,
      categoryCount,
      pendingOrdersCount,
      totalOrdersCount,
      totalRevenue,
      currentDayRevenue,
      currentMonthRevenue,
      currentWeekRevenue,
      categoryWiseRevenue,
                } = data



                document.getElementById('productsCount').innerText = productCount
                document.getElementById('userCount').innerText = userCount
                document.getElementById('totalRevenue').innerText = "₹ " +totalRevenue
                document.getElementById('pendingOrderCount').innerText = pendingOrdersCount
                document.getElementById('totalOrderCount').innerText = totalOrdersCount
                /*document.getElementById('currentDayRevenue').innerText = '₹' + currentDayRevenue
                document.getElementById('currentMonthRevenue').innerText = '₹' + currentMonthRevenue
               document.getElementById('currentWeekRevenue').innerText = '₹' + currentWeekRevenue*/

                const weeklySalesChartElement = document.getElementById('weeklySalesChart')

                const weeklySalesChartOptions = {
                    type: 'line',
                    data: {
                        labels: currentWeekRevenue.date,
                        datasets: [{
                            label: 'Current week revenue per day',
                            data: currentWeekRevenue.revenue,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: { y: { beginAtZero: true } },
                    }
                }

                const categoryWiseRevenueChartElement = document.getElementById('categoryWiseRevenueChart');
                const categoryWiseRevenueChartOptions = {
                    type: 'doughnut',
                    data: {
                        labels: categoryWiseRevenue.categoryName,
                        datasets: [{
                            data: categoryWiseRevenue.revenuePerCategory,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.5)',
                                'rgba(75, 192, 192, 0.5)',
                                'rgba(255, 255, 0, 0.5)',
                                'rgba(169, 169, 169, 0.5)',
                                'rgba(0, 0, 255, 0.5)'
                            ]
                        }]
                    }
                }
const monthlyRevenueChartElement = document.getElementById('monthWiseRevenueChart');
                const monthlySalesChartOptions = {
    type: 'bar',
    data: {
        labels: currentMonthRevenue.month,
        datasets: [{
            label: 'Monthly Revenue',
            data: currentMonthRevenue.revenue,
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
}



                new Chart(weeklySalesChartElement, weeklySalesChartOptions);
                new Chart(monthlyRevenueChartElement, monthlySalesChartOptions);
                new Chart(categoryWiseRevenueChartElement, categoryWiseRevenueChartOptions);
            } catch (error) {
                console.error(error)
            }
        })();
    </script>
</body>
</html>