{{> userHeader}}

<div class="breadcrumbs mb-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Checkout</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="/"><i class="lni lni-home"></i> Home</a></li>
                        <li>Cart</li>
                        <li>Checkout</li>
                         
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{!-- end of breadcrumbs --}}

    
  <div class="container">
    <div class="row">
   
      <div class="col-md-4 order-md-2 mb-4" >
      
        
        <ul class="list-group mb-3" >
           {{#each cartData}}
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <p style="font-size:14px;" class="my-0 text-dark"><strong>{{this.productId.productName}}</strong></p>
              <small class="text-muted">Quantity: {{this.productQuantity}}* {{this.productId.productPrice}}</small>
            </div>
            <span class="text-muted">₹ {{this.totalCostPerProduct}}</span>
          </li>
          {{/each}}
          {{!-- <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small>EXAMPLECODE</small>
            </div>
            <span class="text-success">-$5</span>
          </li> --}}

          <li class="list-group-item d-flex justify-content-between text-white text-lg" style="text-size:18px; background-color:rgb(64, 64, 64)">
            <span><strong> Total Amount</strong></span>
           <span id="totalPrice" > <strong>₹ {{grandTotal}}</strong></span>
          </li>
        </ul>

  



        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code">
            <div class="input-group-append">
              <button type="submit" class="btn btn-secondary">Redeem</button>
            </div>
          </div>
        </form>
      </div>
      
      <div class="col-md-8 order-md-1 mt-4">
      
        <h6 class="mb-3 bg-secondary text-white px-2 py-2" name="chosenAddress">Select Address</h6>
         <div class="d-block my-3">
    <div class="row g-2 mb-3">
        <div class="col-lg-6 mx-3">
            <select class="form-select" id="addressSelect">
                {{#each addressData}}
                <option value="{{this._id}}">{{this.addressTitle}}</option>
                {{/each}}
            </select>
        </div>
    </div>
</div>

<div class="d-block my-3">
    <div class="row g-2 mb-3">
        {{#each addressData}}
        <div class="col-lg-5 mx-3">
            <div class="d-flex align-items-center border rounded-3 bg-light">
                <div class="d-flex align-items-center p-2  me-3">
                    <i class="fa fa-map-marker-alt me-2"></i>
                    <div>
                      <div>{{this.addressTitle}}</div>
                        <div>{{this.addressLine1}}</div>
                        <div>{{this.addressLine2}}</div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <!-- SweetAlert modal trigger button -->

        <div class="pt-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add New Address
            </button>
        </div>

        <!-- Add address Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New Address</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/addAddressCheckout" method="POST" role="form">
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <input type="text" id="addressTitle" name="addressTitle" class="form-control"
                                    placeholder="Address Title" required>
                            </div>
                              <div class="input-group mb-3">
                                <input type="text" id="firstName" name="firstName"  class="form-control"
                                    placeholder="First Name" required>
                            </div>
                            
                            <div class="input-group mb-3">
                                <input type="text" id="lastName" name="lastName"  class="form-control"  placeholder="Last Name"
                                    required>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" id="addressLine1" name="addressLine1" class="form-control"
                                    placeholder="Address Line 1" required>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" id="addressLine2" name="addressLine2" class="form-control"
                                    placeholder="Address Line 2" >
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" id="phone" name="phone"  class="form-control"
                                    placeholder="Phone Number" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-info">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

</div>

       <hr class="mb-4">
          <h6 class="mb-3 bg-secondary text-white px-2 py-2">Select Payment method</h6>
  
          <div class="d-block my-3">
            <div class="custom-control custom-radio">
              <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
              <label class="custom-control-label" for="credit">Cash On Delivery</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
              <label class="custom-control-label" for="credit">Credit card</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
              <label class="custom-control-label" for="debit">Debit card</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
              <label class="custom-control-label" for="paypal">PayPal</label>
            </div>
          </div>
         
      
          <hr class="mb-4">
         <a href="/placeOrder"> <button class="btn btn-primary btn-m btn-block mb-5 px-5" style="margin-left:300px;">Confirm Order</button></a>
        
      </div>
    </div>
    </div>
  
   {{> userFooter}}