{{> userHeader}}

<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-xl-3">
        <nav class="nav flex-lg-column w-100 d-flex nav-pills mb-4">
          <a class="nav-link my-0 bg-light " href="/userAccount"><p
              class="pb-0 mb-0" style="width: 100px">Account main</p></a>
          <a class="nav-link my-0 bg-light" href="/orderList"><p
              class="pb-0 mb-0" style="width: 100px">Orders history</p></a>
              <a class="nav-link my-0 bg-light" href="/transaction"><p
                            class="pb-0 mb-0" style="width: 170px">Wallet
                            Transactions</p></a>
          <a class="nav-link my-0bg-light " href="/wishlist"><p
              class="pb-0 mb-0" style="width: 100px">My wishlist</p></a>
          <a class="nav-link my-0 active" href="/userCoupons"><p
              class="pb-0 mb-0" style="width: 100px">My Coupons</p></a>
      
        </nav>
      </div>
      <main class="col-lg-9 col-xl-9">
        <div class="card p-4 mb-0 shadow-0 border">
          <div class="content-body">
            <!-- Order Management table -->
            <div class="container">
              <table class="table" id="productTable" style="width:100%">
                <thead>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Coupon Code</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Expiry Date</th>
                    <th scope="col">Min Purchase</th>
                    <th scope="col"> Max Disc</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each couponData}}
                  <tr>
                    <td>{{sum @index 1}}</td>
                    <td>{{this.couponCode}}</td>
                    <td>{{this.discountPercentage}}%</td>
                    <td>{{this.startDateFormatted}}</td>
                    <td>{{this.expiryDateFormatted}}</td>
                    <td>₹ {{this.minimumPurchase}}</td>
                    <td>₹ {{this.maximumDiscount}}</td>

                  </tr>
                  {{/each}}

                </tbody>
              </table>
            </div>

          </div>
        </div>
      </main>
    </div>

  </div>
</section>

{{>userFooter}}