        <div class="row">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="form-group color-option">
                                        <label class="title-label" for="size">Ratings</label>
                                        <div class="single-checkbox checkbox-style-1">
                                            
                                        </div>
                                        <div class="single-checkbox checkbox-style-2">
                                            
                                          <i class="lni lni-star-filled" style="color:#ffff00"></i>
                                        </div>
                                        <div class="single-checkbox checkbox-style-3">
                                        <i class="lni lni-star-filled" style="color:#ffff00"></i>
                                        </div>
                                        <div class="single-checkbox checkbox-style-4">
                                       <i class="lni lni-star-filled" style="color:#ffff00"></i>
                                        </div>
                                        <div class="single-checkbox checkbox-style-4">
                                       <i class="lni lni-star-filled" style="color:#ffff00;"></i>
                                        </div>
                                        <div class="single-checkbox checkbox-style-4">
                                       <i class="lni lni-star" style="color:#ffff00;"></i>
                                        </div>
                                    </div>
                                </div>
                               
            {{!-- {{#if (equal (arrayLength productQtyLimit) 0 )}}
           {{else}}

            <div class="col-lg-4 col-sm-4 col-xs-4">
              <div class="filterBox">
                <label for="qty">Quantity</label>
                <select id="productQuantity" class="form-control" name="productQuantity">
                  <span class="text-danger">Out of stock!</span>

                  {{#each productQtyLimit}}
                  <option value={{sum @index 1}}>{{this}}</option>
                  {{/each}}

                </select>
              </div>
            </div>
            {{/if}} --}}
                          
                            <div class="bottom-content">
                                <div class="row align-items-end">
                                    
                                    <div class="col-lg-4 col-md-4 col-12">
                                     {{#if user}}
                                        <div class="button cart-button" >
                                            <button class="btn" onclick="addToCart({{currentProduct._id}})" style="width: 100%;"><i class="lni lni-cart"></i>Add to Cart</button>
                                        </div>
                                       {{else}}
                                         <div class="button cart-button">
                                          <a href="/login">  <button class="btn" style="width: 170px;"><i class="lni lni-cart"></i>Add to Cart</button></a>
                                        </div>
                                       {{/if}}
                                    </div>
                            
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="wish-button">
                                            <button class="btn"><i class="lni lni-heart"></i> To Wishlist</button>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>