{{> userHeader}}

<!-- Start Hero Area -->
<section class="hero-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-12 custom-padding-right">
        <div class="slider-head">
          <!-- Start Hero Slider -->
          <div class="hero-slider">
            <!-- Start Single Slider -->
            {{#each bannerData}}
            <div
              class="single-slider"
              style="
                    background-image: url(/images/productImages/{{this.image}});
                  ">

            </div>
            {{/each}}
            
          </div>
          <!-- End Hero Slider -->
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="row">
          <div class="col-lg-12 col-md-6 col-12 md-custom-padding">
            <!-- Start Small Banner -->
            <div
              class="hero-small-banner"
              style="
                    background-image: url('/images/hero/slider-bnr.jpg');
                  ">
              <div class="content">
                <h2>

                  iPhone 12 Pro Max
                </h2>
                <h3>Rs.58999</h3>
              </div>
            </div>
            <!-- End Small Banner -->
          </div>
          <div class="col-lg-12 col-md-6 col-12">
            <!-- Start Small Banner -->
            <div class="hero-small-banner style2">
              <div class="content">
                <h2>Weekly Sale!</h2>
                <p>
                  Saving up to 50% off all online store items this week.
                </p>
                <div class="button">
                  <a class="btn" href="/shop">Shop Now</a>
                </div>
              </div>
            </div>
            <!-- Start Small Banner -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Hero Area -->

<!-- Start Trending Product Area -->
<section class="trending-product section" style="margin-top: 12px">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>Trending Products</h2>
          <p style="font-size:16px;">
            Explore the latest collection of trending products
            that are captivating the market with their innovation, style, and
            functionality.</p>
        </div>
      </div>
    </div>
  </div>
  

  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
      {{#each productData}}
      <div class="col">
        <!-- Start Single Product -->
        <div class="single-product">
          <div class="product-image">
            <a href="/productDetails/{{this._id}}">
              <img style="width:150px;height:200px; margin-left:27px;"
                src="/images/productImages/{{this.productImage1}}"
                alt="Product Image" />
              {{#if this.productOfferPercentage}}
              <span class="sale-tag">{{this.productOfferPercentage}}% Off</span>
              {{/if}}
            </a>
          </div>
          <div class="product-info">
            <h4 class="title">
              <a href="/productDetails/{{this._id}}">{{this.productName}}</a>
            </h4>
            <ul class="review">
              <li><i class="lni lni-star-filled"></i></li>
              <li><i class="lni lni-star-filled"></i></li>
              <li><i class="lni lni-star-filled"></i></li>
              <li><i class="lni lni-star-filled"></i></li>
              <li><i class="lni lni-star"></i></li>
              <li><span>4.0 Review(s)</span></li>
            </ul>
            <div class="price">

              <span style="margin-right:5px;">₹ {{this.productPrice}}</span>
              {{#if this.priceBeforeOffer}}
              <span
                style="color:darkgray;text-decoration:line-through; margin-right:5px; font-size:14px;">₹
                {{this.priceBeforeOffer}}</span>
              {{/if}}
              {{!-- <i class="fa-regular fa-heart"
                style="color: #1f59ea; margin-left: 20px;"></i> --}}

              {{#if (equal this.productStock 0)}}
              <div class="promotion">
                <span class="discount" style="font-size:12px; color:red">OUT OF
                  STOCK!</span>
              </div>
              {{else}}
              <button id="productQuantityInput"
                onclick="addToWishlist('{{this._id}}')"
                class="btn btn-outline-secondary" style="margin-left:auto"><i
                  class="lni lni-heart"></i></button>
              {{/if}}
            </div>
          </div>
        </div>

        <!-- End Single Product -->
      </div>
      {{/each}}
      <!-- End Single Product -->
    </div>
  </div>

</section>
<!-- End Trending Product Area -->

<!-- Start Banner Area -->
<section class="banner section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <div
          class="single-banner"
          style="
                background-image: url('/images/banner/banner-1-bg.jpg');
              ">
          <div class="content">
            <h2>Smart Watch 2.0</h2>
            <p>
              Space Gray Aluminum Case with <br />Black/Volt Real Sport Band
            </p>
            <div class="button">
              <a href="/shop" class="btn">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div
          class="single-banner custom-responsive-margin"
          style="
                background-image: url('/images/banner/banner-2-bg.jpg');
              ">
          <div class="content">
            <h2>Smart Headphone</h2>
            <p>
              Lorem ipsum dolor sit amet, <br />eiusmod tempor incididunt ut
              labore.
            </p>
            <div class="button">
              <a href="/shop" class="btn">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->

<!-- Start Shipping Info -->
<section class="shipping-info">
  <div class="container">
    <ul>
      <!-- Free Shipping -->
      <li>
        <div class="media-icon">
          <i class="lni lni-delivery"></i>
        </div>
        <div class="media-body">
          <h5>Free Shipping</h5>
          <span>On order over Rs 499</span>
        </div>
      </li>
      <!-- Money Return -->
      <li>
        <div class="media-icon">
          <i class="lni lni-support"></i>
        </div>
        <div class="media-body">
          <h5>24/7 Support.</h5>
          <span>Live Chat Or Call.</span>
        </div>
      </li>
      <!-- Support 24/7 -->
      <li>
        <div class="media-icon">
          <i class="lni lni-credit-cards"></i>
        </div>
        <div class="media-body">
          <h5>Online Payment.</h5>
          <span>Secure Payment Services.</span>
        </div>
      </li>
      <!-- Safe Payment -->
      <li>
        <div class="media-icon">
          <i class="lni lni-reload"></i>
        </div>
        <div class="media-body">
          <h5>Easy Return.</h5>
          <span>Hassle Free Shopping.</span>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- End Shipping Info -->

{{!-- wishlist --}}
<script>
    async function addToWishlist(id) {
      try {
        console.log('clicked' + id)

        let response = await fetch('/wishlist/' + id, {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' }
        });
        let result = await response.json();
        console.log('result' + result);

        if (result.exists) {
          // Product already exists in the wishlist
          return await Swal.fire({
            title: "<strong>Product Already in Wishlist</strong>",
            icon: "info",
            showCloseButton: true,
            focusConfirm: false,
            confirmButtonText: `OK`,
            confirmButtonColor: '#00008b',
            confirmButtonAriaLabel: "OK"
          });
        } else {
          // Product doesn't exist in the wishlist, proceed to add it
          // Example: You can call the addToWishlist route here
          // await addToWishlistRoute(id);

          // For demonstration purposes, show a success message
          return await Swal.fire({
            title: "<strong>Added to Wishlist</strong>",
            icon: "success",
            showCloseButton: true,
            showCancelButton: true,
            focusConfirm: false,
            confirmButtonText: `<a style="color: #ffffff;" href="/wishlist">Go to Wishlist!</a>`,
            confirmButtonColor: '#00008b',
            confirmButtonAriaLabel: "Thumbs up, great!",
            cancelButtonText: `Continue browsing`,
            cancelButtonAriaLabel: "Thumbs down"
          });
        }
      } catch (error) {
        console.log(error);
      }
    }
</script>

{{>userFooter}}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    async function addToCart(id) {
      try {
        console.log('clicked' + id)

        let productQuantity = document.getElementById('productQuantityInput').value
        let bodyData = { productQuantity }
        console.log(productQuantity)

        let response = await fetch('/addToCart/' + id, {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(bodyData)
        })
        let result = await response.json()
        console.log('result' + result)
        if (result.success) {
          return await Swal.fire({
            title: "<strong>Added to cart</strong>",
            icon: "success",
            showCloseButton: true,
            showCancelButton: true,
            focusConfirm: false,
            confirmButtonText: `<a style="color: #ffffff;" href="/cart">Go to cart!</a>`,
            confirmButtonColor: '#00008b',
            confirmButtonAriaLabel: "Thumbs up, great!",
            cancelButtonText: `Continue browsing`,
            cancelButtonAriaLabel: "Thumbs down"
          });
        }
      } catch (error) {
        console.log(error)
      }
    }
  </script>

  