
{{> userHeader}}


  <div class="container py-5 h-100" style="margin-left:40px;margin-right:40px;margin-bottom:150px;">
    <div class="row d-flex justify-content-center align-items-center h-100 text-center">
      <div class="col">


        <div class=" mt-5 mb-5"><p style="color:rgb(6, 159, 65); font-size:30px;">Your Order has been Placed Successfully</p></div>
        <div>
            <h5 class=" text-uppercase  mb-5" >{{user.name}}</h5>
                <h4 class="mb-5" style="color: #35558a;">Thanks for your order</h4>
                <p class="mb-0" style="color: #35558a;">Payment summary</p>
                <hr class="mt-2 mb-4"
                  style="height: 0; background-color: transparent; opacity: .75; border-top: 2px dashed #9e9e9e;">
                {{#each cartData}}
                <div class="d-flex justify-content-between">
                  <p class="fw-bold mb-0">{{this.productId.productName}}(Qty:{{this.productQuantity}})</p>
                  <p class="text-muted mb-0">{{this.totalCostPerProduct}}</p>
                </div>
                {{/each}}
                <div class="d-flex justify-content-between">
                  <p class="small mb-0">Shipping</p>
                  <p class="small mb-0">Free Shipping</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="small mb-0">Total Discount</p>
                  <p class="small mb-0">{{totalDiscount}}</p>
                </div>

       
                <div class="d-flex justify-content-between">
                  <p class="fw-bold">Total</p>
                  <p class="fw-bold" style="color: #35558a;">{{orderData.grandTotalCost}}</p>
                </div>
        </div>

        <!-- Button trigger modal -->
         <div class="pt-3">
             <a href="/orderDetails/{{orderData._id}}">  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                View Details
            </button></a>
        </div>
       
        </div>

      </div>
    </div>
  </div>






{{> userFooter}}